.App {
  background: rgba(23, 3, 7, 0.4); }

.content-paragraph {
  color: #cebc6f;
  padding: 4px; }

.hori-flex ul {
  border: 1px solid #752c2c;
  padding: 0; }

.hori-flex ul li {
  list-style: none; }

.hori-flex ul li p {
  display: flex;
  width: 100%;
  justify-content: space-around; }

.hori-flex ul li p a {
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 25%;
  height: 40px;
  padding: 0;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 0.03rem;
  color: #010100;
  border-radius: 100% 100% 0 0;
  background: rgba(71, 11, 72, 0.28);
  text-align: center;
  background: url("../src/assets/images/polygon3.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.hori-flex ul li p a:hover,
.hori-flex ul li p a:active {
  color: white; }

@media (min-width: 769px) {
  .hori-flex ul li p a {
    width: 60%;
    height: 40px; }
  .hori-flex ul li p a {
    width: 18%;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5); } }
