//  SASS--MIXINS--
@mixin mobile {
  @media (min-width: 360px) {
    @content;
  }
}
@mixin mobile-landscape {
  @media (min-width: 568px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 769px) {
    @content;
  }
}
@mixin desktop-large {
  @media (min-width: 1025px) {
    @content;
  }
}


// //--VARIABLES--
// //colors
// // background: #b11818;
$primary-red: #a21722;
$primary-dark: #1b0103;

$black-light: #251f1f;

//   Light colors
$primary-light: white;

.top-drawer {
  color: rgb(206, 188, 111);
  padding: 4px;
  //   background: rgba(23, 3, 7, 0.4);
  display: flex;
  justify-content: center;
  height: 100%;
}
.top-drawer ul {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.top-drawer li {
  list-style: none;
  padding: 4px 0;
  color: #2b290b;
}
.welcome {
  width: 100%;
  justify-content: center;
  color: #29020b;
  font-weight: bold;
  letter-spacing: 0.013rem;
  font-size: 4rem;
  font-family: "Tangerine", cursive;
}
.caption {
  // color: $primary-light;
  font-size: 1.46rem;
  //   font-family: "Tangerine", cursive;
  //   font-family: "Noto Serif SC", serif;
  //   font-family: "Nanum Pen Script", cursive;
  font-family: "Caveat Brush", cursive;
  padding: 9px;
  // background-color: $primary-red;
  letter-spacing: 0.05rem;
}

@media (min-width: 769px) {
  .welcome {
    font-size: 6.4rem;
    text-shadow: 3px 3px 3px rgb(141, 59, 34);
  }
  .caption {
    font-size: 1.43rem;
  }
}
