.workshop-box {
    height: 69%;
    background: rgba(169, 202, 169, 0.93);
    width: 80%;
    overflow: scroll;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.workshop-box p {
    color: black;
}
